@font-face {
    font-family: "Inter";
    src: url(inter.woff2) format('woff2');
}

:root {
    --blurple: #7480fd;
    --background-primary: #333;
}

body {
    text-align: center;
    font-family: "Inter", sans-serif !important;
    background-color: var(--background-primary);
    color: #ccc;
}

h1 {
    color: #eee;
}

.entry-form {
    width: 580px;
    margin: 0 auto;
}
input {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #444;
    outline: none;
    border: 2px solid var(--background-primary);
    color: #eee;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: .3s ease;
}
input:hover {
    border: 2px solid black;
}
input:active, input:focus {
    border: 2px solid var(--blurple);
}
input#entry-name {
    width: 50%;
}
input#entry-points {
    width: 12%;
    text-align: center;
}
input::placeholder {
    font-family: "Inter", sans-serif;
}
.entry-form button {
    border-radius: 15px;
    padding: 10px 0;
    background-color: lime;
    outline: none;
    border: 2px solid var(--background-primary);
    color: #333;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 15%;
    cursor: pointer;
    transition: .3s ease, transform .15s ease;
}
.entry-form button:hover {
    background-color: #00ff0070;
}
.entry-form button:active {
    background-color: #00ff0040;
    transform: scale(1.12);
}

.leaderboard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.leaderboard .leaderboard-ranks {
    height: 580px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 49px;
}

.leaderboard .leaderboard-ranks .rank {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

.leaderboard .leaderboard-entries {
    user-select: none;
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 425px;
    height: 580px;
}

.leaderboard .leaderboard-entries .entry {
    display: inline-block;
    background-color: #555;
    box-shadow: 0 0 10px 2.5px #222;
    border-radius: 25px;
    padding: 10px 20px;
    width: 310px !important;
    height: 20px;
}

.entry p {
    display: inline;
} 

.entry .points {
    float: right;
    margin: 0 auto;
    color: var(--blurple);
}

.leaderboard .leaderboard-entries .entry .first-place {
    color: #ffd700;
    text-shadow: 0px 0px 10px #FFD700, 0px 0px 5px #FFD700;
}

.leaderboard .leaderboard-entries .entry .second-place {
    text-shadow: 0px 0px 10px #C0C0C0, 0px 0px 5px #C0C0C0;
}

.leaderboard .leaderboard-entries .entry .third-place {
    color: #B08D57;
    text-shadow: 0px 0px 10px #CD7F32, 0px 0px 5px #CD7F32;
}