@font-face {
    font-family: "Inter";
    src: url(inter.woff2) format('woff2');
}

:root {
    --blurple: #7480fd;
    --background-primary: #333;
    --background-secondary: #4A4A4A;
    --background-secondary-border: #535353;
}

body {
    text-align: center;
    font-family: "Inter", sans-serif !important;
    background-color: var(--background-primary);
    color: #ccc;
    overflow: hidden;
}

h1 {
    color: #eee;
}

h4 {
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px 0;
}

.entry-form {
    width: 340px;
    text-align: center;
    margin: 0 auto;
}
input {
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #444;
    outline: none;
    border: 2px solid var(--background-primary);
    color: #eee;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: .3s ease;
}
input:hover {
    border: 2px solid black;
}
input:active, input:focus {
    border: 2px solid var(--blurple);
}
input#entry-name {
    width: 46%;
}
input#entry-points {
    width: 16%;
    text-align: center;
}
input::placeholder {
    font-family: "Inter", sans-serif;
}
button {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: lime;
    outline: none;
    border: 2px solid var(--background-primary);
    color: #333;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease, transform .15s ease;
}
button:hover {
    background-color: #00ff0070;
}
button:active {
    background-color: #00ff0040;
    transform: scale(1.12);
}
.entry-form button {
    width: 21%;
    padding: 10px 0 !important;
}
button#form-modal-trigger {
    position: absolute;
    top: 10px;
    right: 10px;
}

hr {
    border: 1px solid #444;
    margin: 25px 0;
}

button.danger, button.warning {
    width: 100%;
}
button.danger {
    background-color: red;
    color: #eee;
}
button.danger:hover {
    background-color: #ff000070;
}
button.danger:active {
    background-color: #ff000040;
    transform: scale(1.075);
}

button.warning {
    background-color: lime;
}
button.warning:hover {
    background-color: #00ff0070;
}
button.warning:active {
    background-color: #00ff0040;
    transform: scale(1.075);
}

.delete-entry-form {
    width: 340px;
    text-align: center;
    margin: 0 auto;
}
.delete-entry-form #delete-entry-name {
    width: 50%;
}

.reminder {
    width: 340px;
}

.leaderboard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: visible;
}

.leaderboard .leaderboard-ranks {
    height: 580px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 49px;
}

.leaderboard .leaderboard-ranks .rank {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

.leaderboard .leaderboard-entries {
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 360px;
    height: 580px;
    overflow: visible;
}

.leaderboard .leaderboard-entries .entry-container .inner {
    display: inline-block;
    background-color: #555;
    box-shadow: 0 0 10px 2.5px #222;
    border-radius: 25px;
    padding: 10px 20px;
    width: 250px !important;
    height: 20px;
    transition: .75s ease;
}

.inner p {
    display: inline;
} 

.inner .points {
    float: right;
    margin: 0 auto;
    color: var(--blurple);
    user-select: none;
}

.inner .points i {
    color: red;
    margin-left: 10px;
}

#entry-1 .inner p.name {
    color: #ffd700;
    text-shadow: 0px 0px 10px #FFD700, 0px 0px 5px #FFD700;
}

#entry-2 .inner p.name {
    text-shadow: 0px 0px 10px #C0C0C0, 0px 0px 5px #C0C0C0;
}

#entry-3 .inner p.name {
    color: #B08D57;
    text-shadow: 0px 0px 10px #CD7F32, 0px 0px 5px #CD7F32;
}

/* making the inner divs have offset when transitioning */
#entry-1 .inner.horizontalTransform {
    transition: .75s ease !important;
}

#entry-2 .inner.horizontalTransform {
    transition: .85s ease !important;
}

#entry-3 .inner.horizontalTransform {
    transition: .95s ease !important;
}

#entry-4 .inner.horizontalTransform {
    transition: 1.05s ease !important;
}

#entry-5 .inner.horizontalTransform {
    transition: 1.15s ease !important;
}

#entry-6 .inner.horizontalTransform {
    transition: 1.25s ease !important;
}

#entry-7 .inner.horizontalTransform {
    transition: 1.35s ease !important;
}